<!DOCTYPE html>
<html>
  <head>
    <meta  name="viewport"  content="width=device-width,initial-scale=1.0">
  </head>
<body>
  <div class="Container">
    <div class="main">
      <h5>Login</h5>
      <form>
        <div>
          <input type="text"  placeholder="Username">
        </div>

        <div>
          <input type="password" placeholder="password">
        </div>

        <div>
          <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
     </div>
  </div>
</body>
</html>

<router-outlet></router-outlet>
